<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>        
        {% block title %} Menu {% endblock %}
    </title>
        <!-- Bootstrap -->
        {% load static %}
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/css/bootstrap.min.js' %}" rel="stylesheet">
        <link href="{% static 'font_awesome/css/font-awesome.min.css' %}" rel="stylesheet">

        <style>
            .sidebar-sticky {
                top: 0;
                height: calc(100vh - 48px);
                padding-top: .5rem;
                overflow-x: hidden;
                overflow-y: auto;
            }

            .nav-link {
                font-weight: 600;
                color: #333;
            }
        </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><h6>Modulo de Facturación</h6></a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-md-2 bg-light ">
                <div class="sidebar-sticky">
                    <div class="row"></div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="admin/" class="nav-link">
                                <i class="fa fa-user-secret"></i> <span>Administracion</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ventas">
                                <i class="fa fa-shopping-cart"></i> <span>Ventas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="listarproducto">
                                <i class="fa fa-product-hunt"></i> <span>Productos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cliente_view">
                                <i class="fa fa-users"></i> <span>Clientes</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h4>{{ Menu }}</h4>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>
                    </div>
                </div>
                <!------------------------------------------Contenido------------------------------------------------------------>
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer class="fixed-bottom navbar-dark bg-dark"> Copyright @</footer>


{% block footer %}{% endblock %}